$base_measure: 8px !default;
$border_radius: 2px !default;
$border_width: 1px !default;
$link_transition: .3s !default;

$font_path: './assets/fonts/' !default;

$white: #ffffff;
$black: #000000;
$light_grey: #EEEEEE;
$grey: #9b9b9b;
$dark_grey: #616161;

$primary: #40728c;
$primary_light: #70a0bc;
$primary_dark: #07475f;

$secondary: #9eb3bc;
$secondary_light: #cfe5ee;
$secondary_dark: #6f838c;

$error: #8D3C37;
$warn: #C7BF19;
$notification: #3B6E19;
